.intro__signupform {
    max-width: 460px;
    min-width: 400px;
    min-height: 242px;
    border-radius: 4px;
    position: relative;
    box-sizing: border-box;
    background: rgba(255, 255, 255, 0.05);
    border: 2px solid rgba(255, 255, 255, 0.3);
}


