.header__menu-list {
    list-style: none;
    text-decoration: none;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.header__menu-list.show {
    display: flex;
    text-align: end;
    width: 100%;
}

@media screen and (max-width: 577px) {
    .header__menu-list {
        padding: 0;
    }
}

@media screen and (max-width: 698px) {
    .header__menu-list {
        display: none;
        flex-direction: column;
    }
}
