@import url('../blocks/header/header.css');
@import url('../blocks/intro/intro.css');
@import url('../blocks/footer/footer.css');

html {
    background: url("../images/woodcut.png") no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.page {
    font-family: 'Roboto', Arial, sans-serif;
    color: #FFFFFF;
}
